<?xml version="1.0"?>
<launch>
    <!-- Setup Rosserial Node-->
    <include file ="$(find rosserial_python)/launch/serial.launch"/>
    
    <!-- Tao model -->
    <include file ="$(find tao_description)/launch/tao_display.launch"/>

    <!-- Setup Odometry Boardcast Node-->
    <node pkg="tao_fromlowlevel" name="odom_calculate_node" type="odomBoardcast_node.py"/>
    



    
</launch>